/* Estilos gerais para desktop */
@media only screen and (min-width: 1024px) {

    body {
        font-family: 'Saira', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        padding-bottom: 70px;
        display: flex; /* Ative o Flexbox no corpo */
        flex-direction: column; /* Organize os elementos verticalmente */
        min-height: 100vh; /* Defina a altura mínima do corpo para 100% da altura da viewport */
    }
    
    /* Estilo do cabeçalho */
    header {
        background-color: #10519E;
        color: #fff;
        padding: 10px; /* Diminui o padding para reduzir a altura */
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed; /* Define a posição como fixed */
        top: 0; /* Posiciona na parte superior da tela */
        width: 100%; /* Define a largura para ocupar toda a tela */
        z-index: 1000; /* Define o nível de empilhamento do cabeçalho */
    }

    /* Estilos para as logos */
    header .logo-container {
        display: flex;
        align-items: center; /* Alinhar verticalmente */
    }

    header .logo {
        width: 130px;
        margin-top: 10px;
    }

    /* Estilo para o título */
    header h1 {
        margin: 0;
        font-size: 26px;
        text-align: center; /* Centraliza o título */
        flex-grow: 1; /* Ocupa o espaço restante na linha */
        margin-right: 100px;
    }

    /* Estilos para o carrinho */
    header .cart-container {
        display: flex;
        align-items: center; /* Alinha verticalmente */
    }

    header .cart-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    header .cart-count {
        background-color: #FFDD21;
        color: #10519E;
        border-radius: 50%;
        padding: 5px 10px;
        font-weight: bold;
    }

    /* Estilo da barra amarela */
    .yellow-bar {
        background-color: #FFDD21;
        height: 45px; /* Define a altura da barra */
        width: 100%;
        position: fixed;
        top: 110px; /* Posiciona abaixo do header, considerando a altura reduzida */
        z-index: 1000; /* Define o nível de empilhamento da barra */
        right: 0.5px;
    }
    
    /* Estilo para o carrinho */
    .cart {
        width: 90%;
        max-width: 1000px;
        margin: 40px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        margin-top: 200px;
    }
    
    .cart h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }
    
    /* Estilo para os itens no carrinho */
    .cart-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    
    .cart-item img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: 20px;
    }
    
    .item-details {
        flex-grow: 1;
    }
    
    .item-details h3 {
        margin: 0;
        font-size: 20px;
        color: #333;
    }
    
    .item-details p {
        margin: 5px 0;
        color: #666;
    }
    
    .item-details button {
        background-color: #10519E;
        color: white;
        font-weight: bold;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 25px;
    }
    
    .item-details button:hover {
        background-color: #FFDD21;
    }
    
    /* Controles de quantidade */
    .item-details .quantity-control {
        display: flex;
        align-items: center;
    }
    
    .item-details .quantity-control button {
        background-color: #FFDD21;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .item-details .quantity-control button:hover {
        background-color: #FFDD21;
    }
    
    .item-details .quantity-control p {
        margin: 0 10px;
        font-size: 16px;
    }
    
    /* Resumo do carrinho */
    .cart-summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #ddd;
    }
    
    .cart-summary h3 {
        font-size: 24px;
        color: #333;
    }
    
    #checkout-button {
        background-color: #10519E;
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        border-radius: 25px;
    }
    
    #checkout-button:hover {
        background-color: #FFDD21;
    }

/* Estilo do modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-top: 0;
    color: #333;
    font-family: Arial, sans-serif;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content input {
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    transition: border-color 0.3s ease;
    outline: none;
}

.modal-content input:focus {
    border-color: #007bff; /* Cor de destaque ao focar no campo */
}

.close-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #c82333;
}

.submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}

    
    /* Estilo do rodapé */
    footer {
        background-color: #10519E;
        padding: 30px 20px; /* Espaçamento mais confortável */
        text-align: center;
        color: #f3f3f3;
        position: relative; /* Define a posição relativa */
        bottom: 0; /* Posiciona na parte inferior da tela */
        left: 0; /* Posiciona na borda esquerda */
        width: 100%; /* Define a largura para ocupar toda a tela */
    }

    /* Ajuste para as logos */
    footer .logo {
        width: 150px;
        margin-bottom: 20px; /* Espaçamento inferior aumentado */
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)); /* Adiciona sombra para destacar */
        transition: transform 0.3s ease-in-out; /* Animação suave para hover */
    }

    /* Efeito de aumento ao passar o mouse nas logos */
    footer .logo:hover {
        transform: scale(1.1);
    }

    /* Informação de contato */
    footer .contact-info {
        margin-bottom: 20px; /* Espaço entre os contatos e o resto do conteúdo */
    }

    footer .contact-info p {
        margin: 5px 0; /* Espaçamento reduzido entre os itens de contato */
        font-size: 16px;
        color: #f8f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left; /* Alinhamento do texto à esquerda */
        gap: 10px; /* Espaçamento entre o ícone e o texto */
    }

    footer .contact-info i {
        font-size: 18px; /* Tamanho do ícone */
    }

    /* Parágrafos do rodapé */
    footer p {
        margin: 15px 0 0;
        font-size: 14px;
    }
}

/* Estilos gerais para celulares */
@media only screen and (max-width: 768px) {

    body {
        font-family: 'Saira', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        padding-bottom: 70px;
    }
    
        /* Estilo do cabeçalho */
        header {
            background-color: #10509B;
            color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column; /* Organize os elementos verticalmente */
            align-items: center; /* Centralize os elementos horizontalmente */
        }
    
        /* Estilos para as logos */
        header .logo-container {
            display: flex;
            justify-content: center; /* Centralize as logos horizontalmente */
            gap: 10px; /* Espaço entre as logos */
            margin-bottom: 10px; /* Espaço entre as logos e o título */
        }
    
        header .logo {
            width: 90px; /* Ajuste a largura das logos para telas menores */
            margin-right: 10px; /* Espaço entre as logos */
        }
    
        /* Estilo para o título */
        header h1 {
            margin: 0;
            font-size: 24px;
            text-align: center; /* Centraliza o título */
        }
    
    .home-button {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        padding: 10px;
        margin-left: 20px;
        display: inline-block;
    }
    
    .home-button i {
        margin-right: 5px;
    }
    
    /* Estilo para o carrinho */
    .cart {
        width: 95%;
        padding: 10px;
    }
    
    .cart h2 {
        font-size: 22px;
        margin-bottom: 20px;
        color: #333;
    }
    
    /* Estilo para os itens no carrinho */
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .cart-item img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 20px;
    }
    
    .item-details h3 {
        font-size: 18px;
    }
    
    .item-details p {
        font-size: 14px;
    }
    
    .item-details button {
        background-color: #10519E;
        color: white;
        font-weight: bold;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    /* Controles de quantidade */
    .item-details .quantity-control p {
        font-size: 18px;
    }
    
    /* Resumo do carrinho */
    .cart-summary {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #checkout-button {
        background-color: #10509B;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        border-radius: 25px;
    }

    /* Estilo do rodapé */
    footer {
        background-color: #10509B;
        color: rgb(247, 255, 247);
        padding: 20px; /* Aumentei o padding para mais espaço */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; /* Alinha o conteúdo em duas linhas */
    }
    
    footer .logo {
        width: 90px;
        margin-bottom: 15px; /* Espaçamento adicional entre o logo e o resto do conteúdo */
    }
    
    footer .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px; /* Ajustei o espaço entre os ícones e o conteúdo */
        width: 100%; 
    }
    
    footer .social-icons a {
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    footer .social-icons a:hover {
        color: #ddd;
    }
    
    footer .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Espaço entre os itens de contato */
        margin-bottom: 15px; /* Espaçamento entre os contatos e o texto de direitos reservados */
    }
    
    footer .contact-info p {
        margin: 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px; /* Espaçamento entre o ícone e o texto */
        color: rgb(247, 255, 247);
    }
    
    footer .contact-info i {
        font-size: 18px;
    }
    
    footer p {
        margin: 0;
        text-align: center;
        font-size: 12px;
    }
    
}