/* Garantir que a aba Lanches está visível */
#lanches {
    display: block; /* A aba Lanches está visível por padrão */
}

/* Estilos específicos para a aba Lanches */
.aba-content {
    display: none; /* As outras abas estão ocultas por padrão */
}

.aba-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 290px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.product img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    font-size: 1em;
    color: #555;
}

.product span {
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
    color: #075e54;
}

.product:hover {
    transform: scale(1.05);
}

.product:hover img {
    transform: scale(1.1);
}
